.count {
  /* border: 2px solid red;     */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5em;
  overflow: hidden;
}

.count > h1 {
  font-size: 2em;
}

.count > button {
  /* border: 2px solid blue; */
  padding: 0.7em;
  width: auto;
  border-radius: 0.5em;
  font-size: 0.7em;
  cursor: pointer;
  color: white;
  background-color: black;
  overflow: hidden;
  font-weight: 500;
}
